<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages"  
         id="hybrisSynchroniserPreferences" 
          >
          
      <page
            name="Hybris Sychnroniser"
            class="synchroniser.preferences.GeneralPreferencePage"
            id="synchroniser.preferences.generalPreferencePage">
      </page>      
      
      <page
            name="Locale Preferences"
            category="synchroniser.preferences.generalPreferencePage"
            class="synchroniser.preferences.LocalPreferencePage"
            id="synchroniser.preferences.LocalPreferencePage">
      </page>
      
      <page
            name="Remote Preferences"
            category="synchroniser.preferences.generalPreferencePage"
            class="synchroniser.preferences.RemotePreferencePage"
            id="synchroniser.preferences.RemotePreferencePage">
      </page>
      
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="synchroniser.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.ui.IWorkingSet"
            adaptable="true"
            nameFilter="*"
            id="net.sourceforge.pmd.eclipse.ui.syncWorkingSetContribution">    
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="synchroniser.actions.RestoreDbAction"
               icon="icons/hybris.ico"
               id="synchroniser.actions.RestoreDbAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
     </objectContribution>
     
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            nameFilter="*"
            id="net.sourceforge.pmd.eclipse.ui.syncProjectContribution">    
         <menu
               id="syncData"
               icon="icons/hybris.ico"
               label="Local Hybris Synchronise">
            <separator
                  name="syncData">
            </separator>
         </menu>
         
           <action
               class="synchroniser.actions.SyncLocalEnvAction"
               icon="icons/hybris.ico"
               id="synchroniser.actions.RestoreDbAction"
               label="&amp;All (Database and Media)"
               menubarPath="syncData/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="All (Database and Media)">
         </action>
         
         <action
               class="synchroniser.actions.RestoreDbAction"
               icon="icons/hybris.ico"
               id="synchroniser.actions.RestoreDbAction"
               label="&amp;Database"
               menubarPath="syncData/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Database">
         </action>
         
          <action
               class="synchroniser.actions.SyncHybrisMediaAction"
               icon="icons/hybris.ico"
               id="synchroniser.actions.syncHybrisMediaAction"
               label="&amp;Data and Media"
               menubarPath="syncData/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Data and Media">
         </action>
     </objectContribution>
     
     
   </extension>

</plugin>
